@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* Tokyo night theme  */
@theme {
  /* Text */
  --color-foreground: #343b58;
  --color-foreground-dark: #a9b1d6;
  /* Background */
  --color-background-content: #e6e7ed;
  --color-background-content-dark: #1a1b26;
  --color-background-ui: #d5d8df;
  --color-background-ui-dark: #24283b;
  /* Various colors */
  --color-terminal-red: #8c4351;
  --color-terminal-red-dark: #f7768e;
  --color-terminal-orange: #ff9e64;
  --color-terminal-orange-dark: #965027;
  --color-terminal-yellow: #8f5e15;
  --color-terminal-yellow-dark: #e0af68;
  --color-terminal-green: #385f0d;
  --color-terminal-green-dark: #9ece6a;
  --color-terminal-azure: #0f4b6e;
  --color-terminal-azure-dark: #2ac3de;
  --color-terminal-purple: #5a3e8e;
  --color-terminal-purple-dark: #bb9af7;
  --color-terminal-black: #343B58;
  --color-terminal-black-dark: #414868;
}

* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  display: none;
}

a {
  font-style: italic;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

* {
  @apply transition-colors duration-250 ease-in-out;
}
